importFrom(pls, plsr)
importFrom(far, orthonormalization)
importFrom(mvtnorm, rmvnorm,dmvnorm)
importFrom(MCMCpack, rinvgamma, dinvgamma)
importFrom(MASS, mvrnorm)
importFrom(graphics, plot)
importFrom(stats, predict)
export(BayesPLS, predict.BayesPLS, DIC, plot.BayesPLS, estimate.BayesPLS)

